@media(max-width: 1250px) {
    .align-content {
        padding-right: 0;
    }
}

@media(max-width: 1200px) {
    .left-right-container {
        flex-direction: column;
    }

    .right-side {
        padding-left: 0;
    }

    .left-side {
        border-right: 0;
    }

    .assigned {
        position: relative;
    }

    #contact-overlay {
        position: absolute;
        z-index: 999;
        top: 85px;
        left: 0;
        right: 0;
    }

    .create-buttons {
        margin-top: 40px;
        padding-bottom: 8px;
    }

    #selected-contacts {
        min-height: 0px;
    }

    .required-info {
        display: none;
    }

    .required-info-responsive {
        display: flex;
    }
}

@media(max-width: 992px) {
    .preload-side-menu {
        min-width: 0;
        min-height: 0;
    }

    .bottom {
        display: flex;
        height: 112px;
    }
}

@media(max-width: 500px) {

    h1 {
        font-size: 47px;
    }


    .left-side {
        padding: 0;
    }

    .prio-buttons {
        display: flex;
        gap: 8px;
        justify-content: center;
    }

    .prio-buttons button {
        width: 120px;
    }
}

@media(max-width: 465px) {

    .left-side {
        width: 80%;
    }

    .left-right-container {
        align-items: center;
    }

    .right-side {
        width: 80%;
    }

    h1 {
        padding-left: 40px;
    }
}

@media(max-width: 400px) {

    .prio-buttons button {
        font-size: 16px;
        width: auto;
    }

    #clear-btn {
        display: none;
    }

    .required-info-responsive {
        flex: 1;
    }
}