@media (max-width: 1400px) {
    #board {
        padding: 0 32px 0 32px;
    }

    #board-content {
        gap: 15px;
    }
}

@media (max-width: 1200px) {
    #board {
        padding: 0 24px 0 24px;
        min-height: calc(100vh - 80px);
    }

    #board-head {
        padding: 48px 0 48px 0;
    }

    #input-area {
        height: 42px;
        width: 280px;
    }

    #input-area input {
        padding: 0 4px 0 8px;
        font-size: 18px;
    }

    #input-area input::placeholder {
        font-size: 16px;
    }

    .search-button {
        margin: 0 8px 0 8px;
        height: 24px;
        width: 24px;
    }

    #add-task-button {
        font-size: 18px;
        height: 42px;
        width: 140px;
    }

    .divers-head-sections {
        margin: 0 12px;
        height: 40px;
    }

    .specific-content {
        margin-top: 12px;
        gap: 4px;
    }

    #board-content {
        gap: 4px;
    }

    .task-container {
        margin: 8px;
        padding: 14px;
        border-radius: 20px;
        gap: 16px;
    }

    .category-technical-task {
        padding: 4px 12px 4px 12px;
        font-size: 14px;
    }

    .category-user-story {
        padding: 4px 12px 4px 12px;
        font-size: 14px;
    }

    .task-subtasks-container {
        align-items: flex-start;
        flex-direction: column;
        font-size: 12px;
        gap: 4px;
    }

    .assignment-circle {
        width: 26px;
        height: 26px;
        font-size: 10px;
    }

    #slider form {
        width: 100%;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

}

@media (max-width: 992px) {
    #board-content {
        padding: 0 0 81px 0;
    }

}

@media (max-width: 768px) {
    #board {
        padding: 0 12px 12px 12px;
    }

    #board-content {
        flex-direction: column;
    }

    #board-head {
        padding: 48px 12px 48px 12px;
        flex-direction: column;
    }

    .board-div {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #board-interaction {
        width: 100%;
    }

    #input-area {
        height: 48px;
        width: 100%;
    }

    #input-area input {
        padding: 0 4px 0 16px;
        font-size: 20px;
    }

    #input-area input::placeholder {
        font-size: 20px;
    }

    #add-task-button {
        display: none;
    }

    .add-task-button-small {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #2A3647;
        color: #FFFFFF;
        border-radius: 10px;
    }

    .add-task-button-small div {
        padding: 0 16px 0 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
    }

    .add-task-button-small:hover {
        cursor: pointer;
        background-color: #29ABE2;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .add-task-button-small:active {
        background-color: #091931;
        box-shadow: unset;
    }

    .divers-head-sections svg {
        height: 30px;
        width: 30px;
    }

    .divers-sections {
        width: 100%;
    }

    .specific-content {
        flex-direction: row;
        min-height: 150px;
        overflow-x: auto;
    }

    .specific-content::-webkit-scrollbar {
        display: none;
        height: 10px;
    }

    .task-container {
        min-width: 200px;
        max-width: 250px;
    }

    .category-technical-task,
    .category-user-story {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
    }

    .task-subtasks-container {
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        gap: 12px;
    }

    .assignment-circle {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }

    .no-tasks {
        min-width: 200px;
        max-width: 250px;
    }

    .slider-container {
        margin: 16px;
    }

    #slider {
        padding: 40px 32px 40px 32px;
        gap: 16px;
        min-width: 60vw;
    }

    .open-task-container {
        width: unset;
    }

    .open-task-title {
        font-size: 36px;
    }

    .open-task-description,
    .open-task-duedate,
    .open-task-prio,
    .open-task-assigned,
    .open-task-subtask {
        font-size: 16px;
    }

    .open-category-technical-task {
        padding: 4px 16px 4px 16px;
        font-size: 16px;
    }

    .open-category-user-story {
        padding: 4px 16px 4px 16px;
        font-size: 16px;
    }

    .gap16 {
        gap: 8px;
    }

    .edit-task-headline {
        font-size: 16px;
    }

    .edit-task input {
        height: 40px;
        font-size: 16px;
    }

    .edit-task textarea {
        font-size: 16px;
    }

    #edit-assigned-to,
    #date-input,
    #subtask-input {
        font-size: 16px;
    }

    .prio-buttons button {
        height: 41px;
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        background: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }

    #urgent-btn.active,
    #medium-btn.active,
    #low-btn.active {
        font-size: 16px;
    }

    .current-name {
        font-size: 16px;
    }

    .edit-task-container {
        width: unset;
    }

    .edit-task {
        width: unset;
    }

}

@media (max-width: 576px) {

    .edit-task input {
        padding: 0 16px;
    }

    .edit-task textarea {
        height: 100px;
    }

    #date-input {
        height: 40px;
    }

    .slider-container {
        margin: 8px;
    }

    #slider {
        padding: 24px 16px 24px 16px;
    }

    #edit-assigned-to::placeholder,
    #subtask-input::placeholder {
        font-size: 16px;
    }

    .prio-buttons {
        flex-direction: column;
        gap: 12px;
    }

    .prio-buttons button {
        height: 40px;
        flex: unset;
    }

    .assignment-circle-big-menu {
        display: none;
    }

}