@media (max-width: 1200px) {
/*--------------------------contacts detail view-------------------------*/
    #contact-seperator {
        display: none;
    }
    #contact-slogan{
        display: none;
    }
    .first-letters-for-details{
        margin-right: 30px;
    }
/*--------------------------contacts add new contact-------------------------*/
}

@media (max-width: 992px) {
/*--------------------------contacts detail view-------------------------*/
    #contact-overview{
        width: 380px;
    }
    #add-new-contact{
        width: 340px;
    }
/*--------------------------contacts add new contact-------------------------*/
    #put-the-img{
        margin: 0;
        width: 140px;
    }
    #design-sector{
        width: 22vw;
    }
/*--------------------------contacts edit card-------------------------*/
    .contact-input-area-edit img{
        display: none;
    }
    .contact-input-area-edit{
        width: 240px;
    }
}

@media (max-width: 768px) {
/*--------------------------contacts detail view-------------------------*/
    .email-and-phone-head{
        font-size: 18px;
    }
    .first-letters-for-details{
        display: none;
    }
    #detail-view-of-contacts{
        margin-left: 0;
        padding-left: 12px;
    }
    #welcome-to-contacts{
        padding: 20px 10px 20px 0px;
    }
    #main-name h2{
        font-size: 22px;
    }
    #welcome-to-contacts h1{
        font-size: 40px;
    }
    .contact-seperator-horizontal{
        width: 280px;
    }
    .contact-block{
        width: 300px;
        margin-right: 0;
    }
    .sub-contact-block{
        margin-right: 0;
        margin-left: 0;
        width: 280px;
    }
    .sub-contact-block-marked{
        margin-left: 0;
        margin-right: 0;
        width: 280px;
    }
/*--------------------------contacts add new contact-------------------------*/
    #put-the-img{
        display: none;
    }
    #img-and-inputs{
        margin-left: 38px;
    }
    #design-sector h2{
        font-size: 28px;
    }
/*--------------------------contacts edit card-------------------------*/
    .container-for-first-letters-in-edit{
        display: none;
    }
    .first-letters-and-inputs{
        margin-left: 48px;
    }
    .left-side-edit-card{
        padding-left: 18px;
        width: 160px;
    }
    .left-side-edit-card h2{
        font-size: 24px;
    }
}

@media (max-width: 576px) {
/*--------------------------contacts detail view-------------------------*/
    #arrow-back-mobile{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 32px;
        right: 32px;
        height: 54px;
        width: 54px;
        border-radius: 50%;
    }
    #arrow-back-mobile:hover {
        cursor: pointer;
    }
    #add-new-contact{
        width: 220px;
    }
    #contact-overview{
        width: 100%;
    }
    #contacts{
        justify-content: center;
    }
    #details-of-contacts{
        position: absolute;
        left: 0;
        width: 100%;
        top: 84px;
        background-color: #F6F7F8;
    }
    .email-and-phone-head{
        font-size: 18px;
    }
    .first-letters-for-details{
        display: flex;
    }
    #detail-view-of-contacts{
        margin-left: 0;
        padding-left: 30px;
    }
    #welcome-to-contacts{
        justify-content: flex-start;
        padding: 20px 10px 20px 0px;
    }
    #main-name h2{
        font-size: 28px;
    }
    #welcome-to-contacts h1{
        font-size: 50px;
    }
    #add-new-contact{
        position: absolute;
        bottom: 84px;
        right: 44px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
    #add-new-contact p{
        display: none;
    }
    #add-new-contact img{
        margin: 0;
    }
    #render-contacts-overview{
        padding-bottom: 64px;
    }

/*--------------------------contacts add new contact-------------------------*/
    .contact-input-area{
        width: 280px;
    }
    .contact-input-area{
        margin-right: 0;
        width: 240px;
    }
    .contact-input-area img{
        display: none;
    }
    .cancel-and-create-contact-btns{
        width: 240px;
    }
    #design-sector h2{
        font-size: 20px;
    }
    #design-sector p{
        font-size: 14px;
    }
    #design-sector{
        padding-left: 14px;
    }
    #img-and-inputs{
        margin-left: 18px;
    }
/*--------------------------contacts edit card-------------------------*/
    .left-side-edit-card h2{
        font-size: 24px;
    }
    .first-letters-and-inputs{
        margin-left: 14px;
    }
    .cancel-and-edit-contact-btn{
        width: 260px;
    }
    .contact-input-area-edit{
        margin-right: 12px;
    }
    .edit-and-delete{
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 120px;
        left: 100%;
        bottom: 84px;
        background-color: white;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
        box-shadow: 0px 4px 4px 0px #00000040;
        animation: slideInMobile 500ms forwards;

    }
    @keyframes slideInMobile {
        0% {
            left: 100%;
        }
        100% {
            left: calc(100% - 132px);
        }
    }
    .close-edit-delete-mobile{
        animation: slideOutMobile 500ms forwards;
    }
    @keyframes slideOutMobile {
        0% {
            left: calc(100% - 132px);
        }
        100% {
            left: 100%;
        }
    }
    #open-edit-function-mobile{
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 32px;
        bottom: 90px;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: rgb(42, 54, 71);;
    }

@media (max-width: 480px) {

}
}