.gap16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit-task-container {
    width: 525px;
}

.edit-task {
    width: 525px;
    gap: 8px;
}

.edit-task input {
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.edit-task textarea {
    cursor: pointer;
}

.edit-task-headline {
    font-size: 20px;
    color: #2A3647;
}

.edit-assigned-user {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-assigned-user input {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 16px;
    height: 48px;
    font-size: 20px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px 21px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: Inter;
    font-size: 20px;
}

.edit-task-container input:focus {
    border: 1px solid #29ABE2;
}

#edit-assigned-to {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0 16px;
    height: 48px;
    font-size: 20px;
    font-family: Inter;
    cursor: pointer;
    background-image: url('/assets/img/arrow-assign-down.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    cursor: pointer;
}

#edit-assigned-to:hover {
    border: 1px solid #A8A8A8;
}

#edit-assigned-to:focus {
    border: 1px solid rgb(41, 171, 226);
    outline: none;
}

.assignment-circle-big,
.assignment-circle-big-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 12px;
}

#edit-contact-overlay {
    position: absolute;
    flex-direction: column;
    gap: 3px;
    background-color: white;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

#ok-button-container {
    display: flex;
    justify-content: flex-end;
}

#ok-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 89px;
    background-color: rgb(42, 54, 71);
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-size: 21px;
}

#ok-button:hover {
    cursor: pointer;
    background-color: rgb(41, 171, 226);
    border: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}

.checked-contact-label,
.unchecked-contact-label {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: calc(100% - 32px);
    font-size: 20px;
    font-family: 'inter';
    border-radius: 10px;
}

.checked-contact-label {
    background-color: #2A3647;
    color: #FFFFFF;
}

.checked-contact-label:hover {
    background-color: #091931;
    cursor: pointer;
}

.unchecked-contact-label {
    color: #000000;
}

.unchecked-contact-label:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.edit-task-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
}

.left-edit-task-contacts {
    display: flex;
    align-items: center;
    gap: 16px;
}