.main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logo {
    width: auto;
    height: 274px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    transition: all 2s ease-in;
}

.border-radius-30 {
    border-radius: 30px;
}

.border-radius-8 {
    border-radius: 8px;
}

/*---- Top-Section ---- */
.top-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign-up-area {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 7%;
    margin-top: 48px;
    margin-bottom: 32px;
    font-size: 20px;
}


.sign-up-button:active {
    transform: translateY(5px);
    transition: transform 75s ease-in-out;
}

/* ---- login-section ---- */
.middle-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.login {
    max-height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(42, 54, 71);
/*     width: 600px; */
    width: clamp(18.5rem, 8.333rem + 58.33vw, 37.5rem);
    margin: 0 10px 0 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 54px; */
    font-size: clamp(2.625rem, 1.292rem + 6.67vw, 3.375rem);
    /* (eigtl. 61px)*/
}

.padding-top {
    padding-top: 32px;
}

.underline {
    height: 3px;
    width: 150px;
    background-color: rgb(41, 171, 226);
    margin: 10px 0 32px 0;
}

.login-input {
    /* width: 380px; */
    width: clamp(12.5rem, -0.357rem + 64.29vw, 23.75rem);
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(168, 168, 168);
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 10px;
}

.login-input:focus {
    border: 2px solid rgb(41, 171, 226);
    outline: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 16px;
}

input:focus::placeholder {
    color: transparent;
}

.checkbox-label {
    display: flex;
    margin: 10px 10px;
    cursor: pointer;
    gap: 8px;
}

.startpage-links {
    text-decoration: none;
    color: rgb(41, 171, 226);
}

.startpage-links:hover {
    text-decoration: underline;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 24px;
    margin-bottom: 36px;
}

.h-button {
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.h-button:hover {
    background-color: rgb(41, 171, 226);
    box-shadow: 0px 8px 8px -3px rgb(174, 174, 174);
    transition: 75ms ease-in-out;
}

.link-button-white {
    display: block;
    line-height: 50px;
    height: 50px;
    width: 120px;
    border: 2px solid rgb(42, 54, 71);
    background-color: rgb(255, 255, 255);
    color: rgb(42, 54, 71);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.link-button-white:hover {
    border: 2px solid rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    box-shadow: 0px 8px 8px -3px rgb(174, 174, 174);
    transition: 75ms ease-in-out;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#msg-box {
    height: 30px;
    width: 100px;
    background-color: blueviolet;
}

/* ---- end of login-section ---- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
    display: none;
}

.message {
    height: 50px;
    width: auto;
    border-radius: 8px;
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 18px 24px 18px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-email-icon {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
   /*  background-position: 340px; */
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 21.25rem);
}

.bg-person-icon {
    background-image: url("../img/person_new.svg");
    background-repeat: no-repeat;
    /* background-position: 340px; */
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 21.25rem);
}

/* --- password toggle --- */

/*.input-icons {
    position: relative;
}*/

.pw-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #A8A8A8;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 20px;
}

.pw-input input {
    width: 100%;
    height: 38px;
    border: none;
    color: #000000;
    cursor: pointer;
}

.pw-input input:focus {
    outline: none;
}

.pw-input input:focus-within {
    border: none;
}

.pw-input:focus-within {
    border: 2px solid #29ABE2;
}

.toggle-password {
    margin-right: 22px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.toggle-password svg {
    width: 22px;
}

.toggle-password-visibility:hover svg path {
    fill: rgb(41, 171, 226);
}

/* #login-form input[type="password"],
#login-form input[type="text"] {
    background-color: white;
}

.password-container {
    width: 300px;
    position: relative;
}

 .eye-img, .shut-eye-img  {

    position: absolute;
    right: -21%;
    top: 21%;
    cursor: pointer;
    color: darkgray;
} */

/*.password-input {
    background-image: url(../img/lock.svg);
    background-repeat: no-repeat;
    background-position: 340px;
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 21.25rem);
    cursor: pointer;
    transition: background-position 0.3s ease-in-out;
} 

.password-input:focus {
    background-image: url(../img/visibility_off.svg);

}*/

/* .toggle-password {
    background-image: url(../img/visibility.svg); 
    background-repeat: no-repeat;
    position: absolute;
    right: 8%;
    top: 15%;
    cursor: pointer;
    width: 24px;
    height: 24px;
} */

/* .show-password {
    background-image: url(../img/visibility.svg); 
}  */

/* --- password toggle end ---*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 10vh;
    gap: 16px;
    padding: 8px;
}

.footer a {
    text-decoration: none;
    color: rgb(168, 168, 168);
    size: 16px;
}

.footer a:hover {
    color: rgb(41, 171, 226);
    font-weight: bold;
}


/** ---------------- CSS for sign-up.html -------------- **/

.bg-name-icon {
    background-image: url("../img/person.svg");
    background-repeat: no-repeat;
    background-position: 340px;
}

.arrow-left {
    height: 32px;
    width: auto;
    position: relative;
    top: 44px;
    left: -205px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
}

.arrow-left:hover {
    transform: scale(1.2);
    /*     will-change: transform; */
    height: 30px;
    width: 30px;
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 50%;
}

.checkbox-container-accept {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 137px;
    width: auto;
    position: absolute;
    top: 130px;
    left: 130px;
    transform: translate(-50%, -50%);
}


/* @media (max-width: 1000px) {
    #logo {
        width: clamp(10.625rem, 7.566rem + 15.29vw, 17.125rem);
        height: auto; 
        transform: translate(-50%, -50%); 
        transition: none;
    }
} */