.main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logo {
    width: auto;
    height: 274px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    transition: all 2s ease-in;
}

.border-radius-30 {
    border-radius: 30px;
}

.border-radius-8 {
    border-radius: 8px;
}

/*---- Top-Section ---- */
.top-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign-up-area {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 7%;
    margin-top: 48px;
    margin-bottom: 32px;
    font-size: 20px;
}


.sign-up-button:active {
    transform: translateY(5px);
    transition: transform 75s ease-in-out;
}

/* ---- login-section ---- */
.middle-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.login {
    max-height: 74vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(42, 54, 71);
    width: clamp(18.5rem, 8.333rem + 54.33vw, 37.5rem);
    margin: 0 10px 0 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(2.625rem, 1.292rem + 6.67vw, 3.375rem);
}

.padding-top {
    padding-top: 30px;
}

.underline {
    height: 3px;
    width: 150px;
    background-color: rgb(41, 171, 226);
    margin: 10px 0 32px 0;
}

.login-input {
    width: clamp(12.5rem, -0.357rem + 64.29vw, 23.75rem);
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(168, 168, 168);
    margin-bottom: 20px;
    cursor: pointer;
    padding-left: 10px;
}

.login-input:focus {
    border: 2px solid rgb(41, 171, 226);
    outline: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 16px;
}

input:focus::placeholder {
    color: transparent;
}

input:hover {
    border: 2px solid rgb(41, 171, 226);
}

.checkbox-label {
    display: flex;
    margin: 10px 10px;
    cursor: pointer;
    gap: 8px;
}

.startpage-links {
    text-decoration: none;
    color: rgb(41, 171, 226);
}

.startpage-links:hover {
    text-decoration: underline;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 24px;
    margin-bottom: 36px;
}

.h-button,
.sign-button {
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.h-button:hover,
.sign-button:hover {
    background-color: rgb(41, 171, 226);
    box-shadow: 0px 8px 8px -3px rgb(174, 174, 174);
    transition: 75ms ease-in-out;
}

.link-button-white {
    display: block;
    line-height: 50px;
    height: 50px;
    width: 120px;
    border: 2px solid rgb(42, 54, 71);
    background-color: rgb(255, 255, 255);
    color: rgb(42, 54, 71);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.link-button-white:hover {
    border: 2px solid rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    box-shadow: 0px 8px 8px -3px rgb(174, 174, 174);
    transition: 75ms ease-in-out;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#msg-box {
    height: 30px;
    width: 100px;
    background-color: blueviolet;
}

/* ---- end of login-section ---- */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    align-items: center;
    z-index: 99;
    display: none;
}

.message {
    height: 50px;
    width: auto;
    border-radius: 8px;
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 18px 24px 18px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-email-icon {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    /*  background-position: 340px; */
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 21.25rem);
}

.bg-person-icon {
    background-image: url("../img/person_new.svg");
    background-repeat: no-repeat;
    /* background-position: 340px; */
    background-position: clamp(11.25rem, -0.179rem + 57.14vw, 21.25rem);
}

/* --- password toggle --- */
.pw-input {
    display: flex;
    justify-content: space-between;
    width: clamp(12.6rem, -0.357rem + 64.29vw, 23.75rem);
    height: 40px;
    border-radius: 8px;
    border: 2px solid #A8A8A8;
    background-color: #FFFFFF;
    cursor: pointer;
    padding-left: 11px;
    padding-right: 1px;
    margin-bottom: 20px;
}

.pw-input input {
    width: 100%;
    border: none;
    color: #000000;
    cursor: pointer;
}

.pw-input input:focus {
    outline: none;
}

.pw-input input:focus-within {
    border: none;
}

.pw-input:hover {
    border: 2px solid #29ABE2;
}

.pw-input:focus-within {
    border: 2px solid #29ABE2;
}

.pw-img {
    cursor: pointer;
    position: relative;
    top: 7px;
    right: 22px;
    height: auto;
    width: 30px;;
    background-image: url(../img/lock.svg);
    background-repeat: no-repeat;
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 10vh;
    gap: 16px;
    padding: 8px;
}

.footer a {
    text-decoration: none;
    color: rgb(168, 168, 168);
    size: 16px;
}

.footer a:hover {
    color: rgb(41, 171, 226);
    font-weight: bold;
}

/** ---------------- CSS for sign-up.html -------------- **/
.bg-name-icon {
    background-image: url("../img/person.svg");
    background-repeat: no-repeat;
    background-position: 340px;
}

.arrow-left {  
    cursor: pointer;
    height: 32px;
    width: auto;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
}

.arrow-left:hover {
    transform: scale(1.2);
    height: 30px;
    width: 30px;
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 50%;
}

.arrow-position {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 24px;
}

.checkbox-container-accept {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 137px;
    width: auto;
    position: absolute;
    top: 130px;
    left: 130px;
    transform: translate(-50%, -50%);
}

.responsive-sign-up {
    display: none;
    align-items: center;
    justify-content: center;
    gap: clamp(1.25rem, -0.417rem + 8.33vw, 2.188rem);
    margin-right: 7%;
    margin-top: 48px;
    margin-bottom: 32px;
    font-size: clamp(1rem, 0.556rem + 2.22vw, 1.25rem);
}

.responsive-padding {
    padding-right: 52px;
}

#responsive-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(42, 54, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    z-index: 1;
  }

  .responsive-logo {
    height: 200px;
    width: auto;
  }
