.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 100vh;
    background-color: rgb(42, 54, 71);
    position: fixed;
}

.sidebar-logo-container {
    margin: 64px 0 0 0;
    display: flex;
    justify-content: center;
}

.sidebar-menu {
    margin: 112px 0 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.sidebar-menu img {
    width: 26px;
}

.sidebar-menu-link {
    padding: 0 0 0 56px;
    display: flex;
    align-items: center;
    color: #CDCDCD;
    width: calc(100% - 56px);
    height: 46px;
    gap: 8px;
}

.sidebar-menu-link:hover {
    background-color: #2a3d59;
}

.sidebar-menu-link-active {
    background-color: #091931;
    color: #FFFFFF;
}

.judicial-info {
    margin: 0 0 72px 56px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.judicial-info a {
    color: rgb(168, 168, 168);
}

.judicial-info a:hover {
    color: rgb(41, 171, 226);
    font-weight: 700;
}

@media(max-width: 800px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 80px;
        background-color: rgb(42, 54, 71);
        position: fixed;
        bottom: 0;
    }

    .sidebar-menu {
        margin: 0;
        flex-direction: row;
    }

    .sidebar-logo-container {
        display: none;
    }

    .judicial-info {
        display: none;
    }

    .preload-side-menu {
        background-color: rgb(42, 54, 71);
        min-width: 0;
        min-height: 0;
    }

    #summary-link{
        flex-direction: column;
    }

    #add-task-link{
        flex-direction: column;
    }

    #board-link{
        flex-direction: column;
    }

    #contacts-link{
        flex-direction: column;
    }
}