.side-bar {
    background-color: rgb(42, 54, 71);
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.side-logo {
    width: 100px;
    height: 121px;
    object-fit: contain;
}

.sidebar-logo-container {
    margin-top: 80px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 160px;
}

.menu-buttons img:hover {
    cursor: pointer;
    background-color: rgb(42, 61, 89);
}

.menu-buttons img:focus {
    background-color: yellow;
}

.judicial-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 80px 48px;
}

.judicial-info a {
    color: rgb(168, 168, 168);
}

.judicial-info a:hover {
    cursor: pointer;
    color: rgb(41, 171, 226);
    font-weight: 700;
}