.slider-bg {
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    background-color: white;
    max-height: 90vh; /* 20.10.2023 - Alexander Riedel: feste height auf max-height geändert */
    /*padding-inline: 16px; 20.10.23 - Alexander Riedekl: ausgeklammert, Abstände sind in der id #slider gesetzt */
    overflow-y: auto;
}

#slider {
    padding: 48px 40px 48px 40px;
    min-width: 525px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.slide-from-right {
    animation: 250ms ease-out 0s 1 slideInFromRight;
}

.slide-to-right {
    animation: 150ms ease-out 0s 1 slideOutToRight;
}

.fadeIn {
    animation: 300ms ease-out 0s 1 fadeIn;
}

.fadeOut {
    animation: 300ms ease-out 0s 1 fadeOut;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(+1000px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(+1000px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}