/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400, 500, 600, 700, 800, 900;
    src: url('./assets/fonts/inter-v12-latin/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/inter-v12-latin/inter-v12-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
} 

body{
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-style: normal;
} 

.light-blue{
    color: rgb(41, 171, 226)
}

.dark-blue{
    color: rgb(42, 54, 71);
}

.border-radius{
    border-radius: 6px;
   /*  Hallo, 
   es gibt 2:
   soweit ich gesehen habe, sind es bei Buttons 8px bei den großen weißen Divs 30px
   (HL) */
}

