@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'),
        url('../fonts/inter-v13-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2'),
        url('../fonts/inter-v13-latin-500.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'),
        url('../fonts/inter-v13-latin-600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'),
        url('../fonts/inter-v13-latin-700.ttf') format('truetype');
}

body {
    display: flex;
    margin: 0;
    background-color: #F6F7F8;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

.preload-side-menu {
    background-color: rgb(42, 54, 71);
    min-width: 232px;
    min-height: 100vh;
}

.preload-header {
    width: 100%;
    height: 96px;
}

.main-cont {
    flex: 1;
    padding: 0;
}

.slogan {
    font-size: 27px;
}

.title {
    padding: 64px 0 32px 64px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-seperator {
    height: 59px;
    width: 1px;
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    border-radius: 3px;
}

.information-container {
    padding: 0 64px 32px 64px;
}

.light-blue {
    color: rgb(41, 171, 226)
}

.dark-blue {
    color: rgb(42, 54, 71);
}

.border-radius {
    border-radius: 6px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(168, 168, 168, 1);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(168, 168, 168, 1);
}

/* media queries */
@media (max-width: 1200px) {
    h1 {
        font-size: 52px;
    }

    h3 {
        font-size: 18px;
    }

    .preload-side-menu {
        min-width: 180px;
    }
}

@media(max-width: 992px) {
    .preload-side-menu {
        background-color: rgb(42, 54, 71);
        min-width: 0;
        min-height: 0;
    }

    .information-container {
        padding-bottom: 120px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 47px;
    }

    h3 {
        font-size: 27px;
    }

    .main-cont {
        overflow: hidden;
    }

    .title {
        padding: 48px 48px 32px 48px;
    }

    .information-container {
        padding: 0 24px 120px 24px;
    }

}

@media (max-width: 576px) {
    h1 {
        font-size: 43px;
    }

    h3 {
        font-size: 20px;
    }

    .title {
        padding: 48px 24px 32px 24px;
    }

}